/* adding css specially to div-btn button */
.div-btn button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(184, 138, 149) 0%, rgb(222, 160, 178) 50%, rgb(224, 146, 183) 100%);
    color: #fff;
}